*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto-Regular.woff2') format('woff2'),
      url('../fonts/Roboto-Regular.woff') format('woff'),
      url('../fonts/Roboto-Regular.ttf') format('truetype'),
      url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.eot');
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto-Bold.woff2') format('woff2'),
      url('../fonts/Roboto-Bold.woff') format('woff'),
      url('../fonts/Roboto-Bold.ttf') format('truetype'),
      url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.eot');
  src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto-Light.woff2') format('woff2'),
      url('../fonts/Roboto-Light.woff') format('woff'),
      url('../fonts/Roboto-Light.ttf') format('truetype'),
      url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold_1.eot');
  src: url('../fonts/Roboto-Bold_1.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto-Bold_1.woff2') format('woff2'),
      url('../fonts/Roboto-Bold_1.woff') format('woff'),
      url('../fonts/Roboto-Bold_1.ttf') format('truetype'),
      url('../fonts/Roboto-Bold_1.svg#Roboto-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.eot');
  src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto-Medium.woff2') format('woff2'),
      url('../fonts/Roboto-Medium.woff') format('woff'),
      url('../fonts/Roboto-Medium.ttf') format('truetype'),
      url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* комент :) */

body{

  background-color: #20202D;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}
.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;

}
.container{
  max-width: 950px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}
.content{
  flex: 1 1 auto;
}
.me__nav {
  margin-bottom: 100px;
}
.nav__row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  color: #ffffff;
font-size: 40px;
font-weight: 700;
}

.nav__sing {
  color: #ffffff;
  font-size: 16px;
  line-height: 28px;
  text-decoration: none;
}
.nav__sing::after{
  display: flex;
content:'';
width: 0;
height: 2px;
background-color:#ffffff;
transition: width .4s;
}
.nav__sing:hover::after{
  width: 100%;
  transition: width .3s;
}
.nav__link{
  margin-right: 10px;
}
.nav__link:last-child{
  margin-right: 0;
}
.me{
  background: linear-gradient(0.01deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);
  padding:50px 0 150px 0 ;
}

.me__item{
  display: flex;
  justify-content: space-between;
}
.me__about-me {
  padding-top: 50px;
  max-width: 420px;
  margin-right: 20px;
}
.me__title {
font-size: 24px;
line-height: 28px;
color: #FFBB01;
margin-bottom: 14px;
}
.me__name {
font-weight: bold;
font-size: 45px;
line-height: 59px;
color: #FFFFFF;
margin-bottom: 20px;
}
.me__description {
  font-size: 16px;
line-height: 28px;
color: #FFFFFF;
margin-bottom: 38px;
}
.me__btn {
  background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
  box-shadow: 0px 4px 0px #B68500;
  border-radius: 5px 5px 10px 10px;
  border:none;
  color: #2E2E30;
  padding: 24px 42px;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.me__img{
max-width: 390px;
border: 5px solid #ffffff;
border-radius: 50%;
}

.work {
  padding: 65px 10px 100px 10px;
  background-color: #000000;
}
.work__title {
  margin-bottom: 65px;
}
.title {
  font-weight: bold;
font-size: 36px;
line-height: 42px;
}
.work__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -16px;
}
.work__item {
  flex: 0 1 33.333% ;
  margin-bottom: 65px;
  padding: 0px 16px;
}
.work__img {
margin-bottom: 20px;
}
.work__subtitle {
font-weight: bold;
font-size: 24px;
line-height: 28px;
}
.work__discription {
margin-top: 16px;
font-size: 16px;
line-height: 28px;
}
.section {
background-color: #000;
padding-bottom: 100px ;
}
.section__title {
  margin-bottom: 80px;
}
.projects__slide {
display: flex;
align-items: center;
}
.project__link {
margin-right: 60px;
}
.project__image{
  max-width: 380px;
  border:1px solid #ffffff;
  display: flex;
}
.project__image-gost{
  max-width: 380px;
  margin-left: 5px;
}
.project__title {
margin-bottom: 50px;
font-weight: bold;
font-size: 24px;
line-height: 28px;
}
.project__review {
  display: flex;
  align-items: flex-start;
}

.review__icon{
  margin-right: 25px;
  
}
.review__text{
  flex-basis: 80%;
}
.review__link{
  color: #ffffff;
  text-decoration: underline;
}

.review__title {
font-weight: bold;
font-size: 18px;
line-height: 21px;
margin-bottom: 15px;
}
.review__discription {
font-size: 16px;
line-height: 150%;
}
.projects__pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.projects__bullet{
  width: 10px;
  height: 10px;
  border: 2px solid #FFBB01;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px 0 5px;
}
.projects__bullet-activ{
background: #FFBB01;
}

/* ----------------------------- */

.connection {
  padding-bottom: 100px;
  padding-top: 50px;
  background:  linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 95.44%);
}
.connection__title {
  margin-bottom: 84px;
}
.connection__contacts {
  display: flex;
}
.contacts__form {
background: #FFFFFF;
box-shadow: -5px 5px 0px #FFC41D;
border-radius: 5px;
display: flex;
flex-direction: column;
padding: 40px 35px;
max-width: 380px;
margin-right: 100px;
}
.form__title{
font-weight: bold;
font-size: 18px;
line-height: 28px;
color: #000;
margin-bottom: 29px;
}
.form__input {
font-size: 14px;
line-height: 28px;
padding: 18px 0 18px 50px;
background: #F8F8F8;
box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
border-radius: 5px;
}
.input__name {
  background: url('../img/user-icon.svg') no-repeat center left 20px;
  margin-bottom: 17px;
}
.input__phone {
  margin-bottom: 26px;
  background: url('../img/phone-icon.svg') no-repeat center left 20px;
}
.form__btn {
  background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
  box-shadow: 0px 4px 0px #B68500;
  border-radius: 5px 5px 10px 10px;
  border:none;
  color: #2E2E30;
  padding: 24px 42px;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.text__title {
font-weight: bold;
font-size: 24px;
line-height: 28px;
color: #FFFFFF;
margin-bottom: 15px;
margin-top: 50px;
}
.text__number {
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
text-decoration: none;
}
.txt {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.text__icon {
  margin-right: 20px;
}
/* ------------------------- */
.footer {
  padding: 60px 0;
  background-color: #20202D;

}
.footer__logo{
  display: flex;
  justify-content: center;
}
.footer__tagline {
  margin-top: 32px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  color: #FFBB01;
}
.footer__description {
  text-align: center;
  margin-top: 30px;
  color: #ffffff8e;
}

/* popup */


.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000000c5;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  transition: all 0.9s ease 0s;
  z-index: 1;
}
.popup__area{
  position: fixed;
  width: 100%;
  height: 100%;
}
.popup:target .popup__body{
transform: translate(0px,0px);
opacity: 1;
}
.popup:target{
  opacity: 1;
  visibility: visible;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  transition: all 0.9s ease 0s;
  opacity: 0;
  transform: translate(0px, -100%);
}
.popup__close {
  text-decoration: none;
  right: 10px;
  top: 10px;
  color: #FFBB01;
  position: absolute;
  font-size: 25px;
}
.contacts__form {
  position: relative;
}


/* sing page */


.login {
  background-color: #000;
  padding-bottom: 50px;
  
}
.login__row{
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__form {
background: #FFFFFF;
box-shadow: -5px 5px 0px #FFC41D;
border-radius: 5px;
display: flex;
flex-direction: column;
padding: 40px 35px;
max-width: 380px;
width: 100%;
}
.login__title {
  font-weight: bold;
font-size: 18px;
line-height: 28px;
color: #000;
margin-bottom: 29px;
text-align: center;
}
.login__input {
  font-size: 14px;
line-height: 28px;
padding: 18px 0 18px 50px;
background: #F8F8F8;
box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
border-radius: 5px;
margin-bottom: 17px;
}
.login__btn {
  background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
  box-shadow: 0px 4px 0px #B68500;
  border-radius: 5px 5px 10px 10px;
  border:none;
  color: #2E2E30;
  padding: 24px 42px;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: bold;
}


.login__footer {
  padding: 60px 0;
  background-color: #20202D;
  background:  linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 95.44%);

}
.login__footer-logo{
  display: flex;
  justify-content: center;
}
.login__footer-tagline {
  margin-top: 32px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  color: #FFBB01;
}
.login__footer-description {
  text-align: center;
  margin-top: 30px;
  color: #ffffff8e;
}


/* Медиа-запросы */

@media(max-width: 860px){
  .me__img{
    max-width: 300px;
    order: 0;
    
  }
  .me__item{
    flex-direction: column;
    align-items: center;
  }
  .me__about-me{
    order: 1;
    text-align: center;
    margin: 0;
  }
  .work__item {
    flex: 0 1 50% ;
    
  }
  .projects__slide {
    flex-direction: column;
  }
  .project__link{
    margin: 0;
    margin-bottom: 40px;

  }
  .project__title{
    text-align: center;
  }
  .connection__contacts{
    flex-direction: column;
    align-items: center;
  }
  .contacts__form{
    margin: 0;
  }
  .project__review{
    justify-content: center;
    display: flex;
  }
  .review__icon{
    margin: 0 15px 0 10px;
  }
}


@media(max-width: 564px){
  .me__img{
    max-width: 200px;
    order: 0;
    
  }
  .me__title{
    font-size: 16px;
line-height: 27px;
  }
  .me__name{
    font-size: 24px;
line-height: 28px;
  }
  .me__description{
    font-size: 14px;
line-height: 140%;
  }
  .me{
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .btn{
    font-size: 10px;
line-height: 12px;
  }
  .title{
    font-size: 19px;
line-height: 22px;
text-align: center;
margin-bottom: 60px;
  }
  .work__item{
    flex: 0 1 100%;
    margin-bottom: 40px;
  }
  .work__subtitle{
    font-size: 18px;
line-height: 28px;
  }
  .work__discription{
    font-size: 14px;
line-height: 28px;
margin-top: 6px;
  }
  .work{
    padding-bottom: 50px;
  }
  .project__title{
    font-size: 18px;
line-height: 150%;
  }
  .review__title{
    font-size: 18px;
line-height: 21px;
  }
  .review__discription{
    font-size: 14px;
line-height: 150%;
  }
  .section {
    padding-bottom: 50px;
  }
  .project__image{
    max-width: 290px;
    border:1px solid #ffffff;
    display: flex;
  }
  .project__image-gost{
    max-width: 290px;
    border:1px solid #ffffff;
    display: flex;
  }
  .review__icon{
    display: none;
  }
  .project__review{
    justify-content: center;
    display: flex;
  }
  .connection{
    padding-bottom: 30px;
  }
  
}

@media(max-width: 340px){
  
  .form__title{
    font-size: 15px;
    line-height: 140%;
  }
  .contacts__form{
    padding: 20px 15px;
  }
  .form__input {
    padding: 10px 0 10px 50px;
  }
  .form__btn{
    padding: 15px 42px;
  }
  .review__icon{
    display: none;
  }
  .popup__close {
    right: 5px;
  top: 5px;
  }
  
}